
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background: #fff;
}

/* NAVBAR */
.navbar {
    width: 100%;
    height: 64px;
    border-bottom: 1px solid #e5e5e5;
    display: flex;
    justify-content: center;
    background: #fff;
}

.nav-wrapper {
    width: 100%;
    max-width: 1300px;
    padding: 0 24px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-left {
    display: flex;
    align-items: center;
    gap: 18px;
}

/* LOGO */
.logo {
    font-size: 20px;
    font-weight: 700;
}

.logo span {
    color: #22c55e;
}

/* DELIVERY*/
.toggle {
    display: flex;
    background: #f3f4f6;
    border-radius: 999px;
    padding: 2px;
}

.tab {
    padding: 6px 16px;
    font-size: 14px;
    border-radius: 999px;
    cursor: pointer;
    color: #555;
}

.tab.active {
    background: #22c55e;
    color: #fff;
}

/* ADDRESS */
.address {
    display: flex;
    align-items: center;
    gap: 6px;
    font-size: 14px;
    color: #444;
}

.dot {
    width: 8px;
    height: 8px;
    background: #22c55e;
    border-radius: 50%;
}

/* cart*/
.cart {
    font-size: 18px;
}


.nav-right {
    display: flex;
    align-items: center;
    gap: 20px;
}

.signin {
    text-decoration: none;
    font-size: 14px;
    color: #000;
}

/* CREATE ACCOUNT*/
.btn {
    background: #22c55e;
    color: #fff;
    border: none;
    padding: 9px 18px;
    font-size: 14px;
    border-radius: 10px;
    cursor: pointer;
    font-weight: 500;
}