body{s
    text-align: center;
    justify-content: center;
    text-align: center;
}
h3{
    background-color: cornflowerblue;
    margin-bottom: 0px;
}
#Name{
    margin-bottom: 10px;
}
#Address{
    margin-bottom: 10px;
}