<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
      <style>
        body{
            font-family: sans-serif;
            max-width: 800px;
            margin: auto;
            padding: 20px;
        }
        h1{
            color: #333;
        }
        .book{
            border: 1px solid #ddd;
            padding: 10px 15px;
            margin-bottom: 10px;
            border-radius: 5px;
        }
        .book h3{
            margin: 0;
        }
        .book p {
            color: #555;
        }
    </style>
</head>
<body>
    <h1>The Members information</h1>
    <hr>

    {% for member in members_key %}
       <div class="member">
           <h3>{{member.name}}</h3>
           <p>Email: {{member.email}}</p>
      </div>

    {% empty %}
           <p>No Member is registered</p>
           
    {% endfor %} 
    
</body>
</html>